<template>

  <ModalPokemon :mostrar="mostrar" :pokemonId="pokemonId" :editarId="editarId" :consultaStats="consultaStats"
    :pokemonDex="pokemonDex" @ocultar="ocultar" @enviar="enviar" @verStats="verStats" />
  <ModalBorrarPokemon :mostrar="mostrar2" :borrarID="borrarId" @ocultar="ocultar2" @borrar="borrar" />

  <div class="jumbotron">
    <h5 id="title">Tablero Jugador</h5>
    <button class="add-btn" @click="agregar">
      Agregar Pokemon
    </button>

    <div class="row">

      <div class="col-md-4 mb-3" v-for="(pokemon, index) in pokemones" :key="index">

        <div class="pokeCard" :style="{ backgroundColor:colorPorTipo(pokemon) }">

          <div class="pokeCard-body" >

            <img v-if="pokemon" :src="pokemon.image" :alt="pokemon.nombre" class="card-img-top img-pokemon" />
            <img v-else src="../../../../assets/tarjVacia.png" class="card-img-top img-pokemon">

            <div class="card-data">
              <ul>
                <li>
                  <h5> {{ pokemon.nombre }} </h5>
                </li>
                <li>
                  <p> Nivel: {{ pokemon.nivel }} </p>
                </li>
                <li>
                  <p> Tipo: {{ pokemon.type }} </p>
                </li>
              </ul>
              <button class="stat-btn" @click="verStats(pokemon.nombre)">Stats</button>


            </div>

          </div>

          <div class="botones">

            <button class="delete-btn" @click="deletePokemon(pokemon.id)">Eliminar</button>

          </div>

        </div>


      </div>
    </div>
  </div>
  </div>
  </section>
</template>